*{margin: 0;padding: 0}
.container{
  /*margin-top: 40px;*/
}
.nav-menu{
  background-color: aquamarine;
  padding: 30px;
}
.nav-menu ul{
  display: flex;
}
.nav-menu ul li{
  list-style-type: none;
  text-decoration: none;
  margin-left: 30px;
}
.nav-menu ul li a{
  text-decoration: none;
}

.nav-menu ul li:first-child{
  margin-right: 600px;
}
.nav-menu ul li:last-child{
  margin-left: 600px;
}