.sidebar-list {
    margin-top: 3px;
    background-color: aquamarine;
    width: 14%;
    height: 676px;
    /*padding-right: 229px;*/
}
.sidebar-list h3{
    padding-left: 60px;
}
.sidebar-list ul li{
    list-style-type: none;
    padding-top: 30px;
    text-align: center;
    justify-content: center;
    /*padding-left: 40px;*/
}
.body{
    display: flex;
}